{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="main-section-reg" id="#Auth">
        <div class="modal-dialog text-center">
            <div id="formContainer" class="modal-content">
                <h2 style="padding-bottom: 15px;">Registration</h2>
                <form class="col-12" action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username(placeholder="Username", class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.password(placeholder="Password", class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.email(placeholder="Email", class="form-control") }}
                    </div>
                    {{ form.submit(class="btn btn-success") }}
                </form>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock %}